/*#box{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    color: white;
    border: 1px solid black;
}*/

.content{
   color: red; 

}
.newClass{
    background-color: green;
}